.Shop{
    width: 100%;
    display:grid;
    justify-content: center;
}

.ShopWelcomeText{
    display: grid;
    justify-items: center;
    margin: 50px;
    font-family: 'Abel', sans-serif;
    font-size: 20pt;
}

.ProductGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    gap: 20px; /* Gap between cards */
    margin: 20px;
  }
  
  .ProductCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: space-between;
  }
  
  .ProductImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .ProductDetails {
    text-align: left;
    font-family: 'Abel', sans-serif;
  }
  
  .ProductName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .ProductDescription {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .ProductCategory {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .ProductPrice {
    font-size: 16px;
    font-weight: bold;
  }

  .UpdateButton {
    height: 40px;
    width: 240px;
    color: #ffffff;
    background-color: #096427;
    border-style: none;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 14pt;
    margin-top: 15px;
  }
  
  .UpdateButton:hover {
    background-color: #77a900;
    transform: scale(1.1);
  }
  
  .DeleteButton {
    height: 40px;
    width: 240px;
    color: #ffffff;
    background-color: #096427;
    border-style: none;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 14pt;
    margin-top: 15px;
  }
  
  .DeleteButton:hover {
    background-color: #77a900;
    transform: scale(1.1);
  }

  /* .Shop.Blur {
    filter: blur(5px);
    pointer-events: none;
} */

.Popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 101; /* Set z-index to a value higher than the blur */
}
