.Shop{
    width: 100%;
    display:grid;
    justify-content: center;
}

.ShopWelcomeText{
    display: grid;
    justify-items: center;
    margin: 50px;
    font-family: 'Abel', sans-serif;
    font-size: 20pt;
}

.SearchBar {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Abel', sans-serif;
  font-size: 20pt;
  margin: 40px;
  border: 2px solid #096427;
  width: 900px;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 10px;
}


.ProductGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
    gap: 20px; /* Gap between cards */
    margin: 20px;
  }
  
  .ProductCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: space-between;
  }
  
  .ProductImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .ProductDetails {
    text-align: left;
    font-family: 'Abel', sans-serif;
  }
  
  .ProductName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .ProductDescription {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .ProductCategory {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .ProductPrice {
    font-size: 16px;
    font-weight: bold;
  }

  .AddtoCart {
    height: 40px;
    width: 240px;
    color: #ffffff;
    background-color: #096427;
    border-style: none;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 14pt;
    margin-top: 15px;
  }
  
  .AddtoCart:hover {
    background-color: #77a900;
    transform: scale(1.1);
  }
  